@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; 
*/


/* mobile first - Standard Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 0;
    font-size: 20px;
    
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 1200px) { .container { max-width: 1120px; } }

a {
    color: #2baaec;
    text-decoration: none;
}
a:hover {
    color: #25e6c8;
}

.btn {
    display: inline-flex;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 1.25rem, 1.75rem;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}

/* ----- H1, H2, H3, H4 ----- */


/* --- REUSABLE COMPS --- */

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
   
    


}

section {
    padding: 80px 0;

}


.box {
    padding: 1%;

}

.icon-small {
    font-size: 100%;
    display: block;
    color: #25e6c8;
    padding-top: 1rem;
    padding-bottom: 1rem;


}


/* topmenu */
#topmenu {
    display: none;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
@media (min-width: 768px) { #topmenu { display: block; }}

#topmenu .container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    grid-template-columns: 2fr 1fr;
}

#topmenu .container .hours i {
    margin-right: 0.3rem;
    color: #2baaec;
    font-size: 1.2em;
}

.hours {
    font-size: 80%;


}
/* WITH GRID BUT USE FLEX */
/* #topmenu .container .socialmedia {
    display: grid;
    justify-content: end;
    list-style: none;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: auto;
    border: 1px solid black;
}
#topmenu .container .socialmedia li {
    justify-self: end;
} */

#topmenu .container .socialmedia {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

#topmenu .container .socialmedia li {
    margin-left: 1.3rem;
    
}





/* mainmenu */
#mainmenu {
    font-family: 'Roboto Slab', serif; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 80%;

}
@media (min-width: 768px) { #mainmenu { padding-top: 2rem; padding-bottom: 2rem;} }


#mainmenu .container {
    display: grid;
    justify-content: space-between;
    align-items: center;

    grid-template-columns: 1fr 2fr;
}

#mainmenu .container .logo {
    height: 50px;
}
@media (min-width: 768px) { #mainmenu .container .logo { height: 60px; } }


#mainmenu .container .menu {
    display: flex;
    justify-content: flex-end;
}

#mainmenu .container .menu ul {
    display: none;
    list-style: none;
    margin: 0;
}
@media (min-width: 992px) { #mainmenu .container .menu ul { display: flex; } }


#mainmenu .container .menu ul li {
    margin-left: 1.3rem;
}

#mainmenu .container .menu ul li a {
    color: #363636;
}
#mainmenu .container .menu ul li a:hover {
    color: #25e6c8;
}


#mainmenu .container .menu button {
    font-size: 2.0rem;
    padding: 0;
}
@media (min-width: 992px) { #mainmenu .container .menu button { display: none; } }


/* --- ABOUT US ---- */
/* GLÖM INTE GÖRA MEDIA QUERY HÄR */

@media screen and (min-width: 601px) {
    .about-us {
        background: #f7f7f7;
        /* background: palevioletred; */
        /* grid-template-columns: 40% 60%;
        display: grid; */
        padding-bottom: 0px;
        padding-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    .box-1 {
        background-image: url("Resources/imgs/woman.svg");
        background-size: contain;
        background-repeat: no-repeat;
        
    }
}


@media screen and (max-width: 600px) {
    .about-us {
        background: #f7f7f7;
        /* grid-template-columns: 40% 60%; */
        /* display: grid; */
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
}


.box-1 {
   padding-left: 30%;

}

.box-2 {
    /* grid-column-start: 2;
    grid-column-end: 2; */
    /* padding-left: 20%; */
    padding-top: 250px;
}

.btn-full {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    background-color: #25e6c8;
    color: #fff;
    font-weight: bold;

}

.btn-full {
    color: #000000;
    text-decoration: none;
    margin-top: 20px;
}
.btn-full:hover {
    color: #ffffff;
}


/* -------- INFO ------- */
@media screen and (min-width: 601px) {
    .row-info{
        background: #f7f7f7;
        /* background: palevioletred; */
        /* grid-template-columns: 40% 60%;
        display: grid; */
        padding-bottom: 0px;
        padding-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        
        
        
        
    }

    .info-box-1 {
        max-width: 50%;

    }

    .info-box-2 {
        background-image: url("Resources/imgs/placehold.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        
        
    }
}
@media screen and (max-width: 600px) {
    .row-info{
        background: #f7f7f7;
        grid-template-columns: 40% 60%;
        grid-template-rows: 40% 60%;
        display: grid;
        
        
    }
}

/* services */
@media screen and (min-width: 601px) {
    .service-box {
        background: #ffffff;
        
        
    }

    #services {
        background: #f7f7f7;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #services .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        
        

        gap: 1rem;
    }
    @media (min-width: 992px) { 
        #services .container { 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-areas:    "ti ti ti"
                                    "b1 b2 b3"
                                    "b4 b5 b6";
        }
    }

    #service-title {
        grid-area: ti;
    }
    #service-box-1 {
        grid-area: b1;
        
    }
    #service-box-2 {
        grid-area: b2;
    }
    #service-box-3 {
        grid-area: b3;
    }
    #service-box-4 {
        grid-area: b4;
    }
    #service-box-5 {
        grid-area: b5;
    }
    #service-box-6 {
        grid-area: b6;
    }
}


@media screen and (max-width: 600px) {

    .container {
        display: flex;
        flex-direction: column;


    }



}





.icon-big {
    font-size: 350%;
    display: block;
    color: #25e6c8;
    padding-top: 1rem;
    padding-bottom: 1rem;

}


/* ----- APPOINTMENT SECTION ----- */

.appointment {
    background: #2baaec;
    padding-top: 60px;
    padding-bottom: 40px;
}


.row-appointment {
   
   
    
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    display: grid;
   

}

.appointment-box-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 130%;
    font-weight: bold;
}


.appointment-box-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}





.btn-book {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;

}


/* ---- FOOTER SECTION ---- */

.footer-bottom {
    background: #2595d1;
    text-align: center;
    
    

}